* {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    text-decoration: none;

}

.wrapper {
    max-width: 1300px;
    margin: auto;
    /* background-color: rgb(151, 64, 64); */
}

nav {
    color: whitesmoke;
    background-color: #000;
}

h1 {
    padding: 112 px 0 0 0;
    font-size: 3rem;
}

.search {
    background-color: #dadbf1;
    height: 200px;
    text-align: center;
}

section>div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 550px;
    padding: 0 30px;
    justify-content: center;

}


section>div>div {
    width: 50%;
    margin: 40px 0;
    padding-right: 20px;
    height: 70px;
}

section>div>div>p,
h2,
a {
    padding-left: 50px;
}

section>div>div>img {
    float: left;
    width: 70px;
    margin-right: 20px;
}



footer {
    background-color: black;
    height: 204px;

    color: whitesmoke;
}